@inherits SpeechIndex 

@page "/speech"





<div class="row margin-bottom-40 ">
    <div class="col-md-9">
        <input @bind="SearchTerm" @bind:event="oninput" />
        <button class="btn" type="button" @onclick="@SearchClick" >Search</button>
        <button class="btn" type="button" @onclick="@ClearClick">Clear</button>        
    </div>
</div>



@if(!string.IsNullOrEmpty(@FullText))
{

<div class="col-3 d-flex pb-3">
    <div class="card" style="width: 18rem;">

            @if (@IsPlaying)
            {
                <a class="btn btn-primary btn-block" @onclick="@StopAudio">
                    <i class="oi oi-media-stop" aria-hidden="true"></i>
                    Stop Sound
                </a>
            }
            else
            {
                <a class="btn btn-primary btn-block" @onclick="@PlayAudio">
                    <i class="oi oi-media-play" aria-hidden="true"></i>
                    Play Sound
                </a>
            }
            <audio @ref="Audio">            
                <source src="@AudioURL" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>

            <button class="btn btn-primary" @onclick="@OnClickDownloadViaHttpClientButton">Download the File</button>
    
    </div>
    
</div>






}


